streamlit
Pillow
nltk
pandas
altair
blinker
pydub
cachetools
click
importlib-metadata
packaging
huggingface-hub
langchain_community
langchain_openai
sentencepiece
faiss-cpu
PyPDF2
torch
unstructured[all-docs]
pytesseract
pypdf
langchain-unstructured
openai
elevenlabs
python-dotenv
assemblyai
uvicorn
fastapi
websockets
edge_tts
whisper
openai-whisper
librosa
ffmpeg
beautifulsoup4
